@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    /* font-family: "Pacifico", cursive; */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main_outline {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 230, 205);
    overflow: hidden;
}

.main_content {
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 20% 78%;
    grid-template-areas: 'title title'
                         'left right';
    grid-column-gap: 10px;
    overflow: hidden;
}

.main_title {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 5rem;
    /* font-family: "Pacifico", cursive; */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.image_create {
    grid-area: left;
    overflow: auto;
    border-radius: 5px;
}

.image_swap {
    grid-area: right;
    overflow: auto;
    border-radius: 5px;
}